@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

.amatic-sc-regular {
    font-family: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.amatic-sc-bold {
    font-family: "Amatic SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
}

.mainDiv{
    width: 100%;
    height: 100%;
    background: url("images/background.png");
    background-size: cover;
    background-position: right 30px center;
    display: flex;
    justify-content: center;
}

.loginDiv{
    top: 50%;
    margin: 50px 0px 50px 0px;
    width: 80%;
    border: 1px solid black;
    border-radius: 40px;
    backdrop-filter: blur(20px);
    display: flex;
    justify-content: center;
}

.headerDiv{
    display: flex;
    justify-content: center;
}

.formDiv{
    margin-top: -50px;
    width: 100%;
}

.formDiv h2{
    font-size: 50px;
    margin-top: 10px;
}

.formDiv input{
    width: 100%;
    height: 50px;
    font-size: 25px;
    border-radius: 20px;
    margin-top: -30px;
    padding: 10px;
    border: 1px solid black;
}

.formDivButton{
    display: flex;
    justify-content: center;
}

.formDivButton button{
    font-size: 30px;
    width: 200px;
    height: 50px;
    margin-top: 25px;
    padding: 0px;
    background-color: #edb1f1;
    border-radius: 10px;
}

.formDivButton button:hover{
    background-color: #d59bf6;
}


.formDiv h3{
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 50px;
}
